/* * {
    border: 2px solid red;
  } */

/* start code after here */

html {
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

/* sets the images widths to 350px */
img {
    width: 22em;
    /* height: auto; */
}

/* creates an effect that scales 1.05x when hovering over images with the item class */
.item img:hover {
    transform: scale(1.05);
}

.content-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

/* for class="content" */
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5em;
    padding-right: 0px;
}

/* for class="item" */
.item {
    height: 600px;
    margin: 12px;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 220px;
    text-align: center;
}

/* this does not seem to be needed? will leave commented out for now. */
/* .left {
    display: flex;
    flex-direction: column;
} */

.left img {
    /* padding-left: 30px; */
    display: flex;
    flex-direction: column-reverse;
    padding-top: 23px;
}

.top-right {
    /* display: flex; */
    /* flex-direction: column; */
    /* padding-left: 10px;
    padding-right: 80px;
    padding-top: 0px;
    border-top: 0px;
    margin-top: 0px; */
    padding-left: 1em;
    padding-right: 8em;
    padding-top: 0em;
    border-top: 0em;
    margin-top: 0em;
}

.spaghettiHeader {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.gyudonHeader {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.calderetaHeader {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
} 

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-button {
    text-align: center;
    font-size: larger;
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

.center {
    margin: 0;
    position: relative;
    top: 0%;
    left: 50%;
    width: 50px;
}